.click1:hover {
    background: linear-gradient(to bottom, #259c41 5%, #198754 100%);
}

.click1:active {
    background: linear-gradient(to top, #259c41 5%, #198754 100%);
    transform: translateY(1px);
}

.click3:hover {
    background: linear-gradient(to bottom, #facd45 5%, #ffc107 100%);
}

.click3:active {
    background: linear-gradient(to top, #facd45 5%, #ffc107 100%);
    transform: translateY(1px);
}

.click2:hover {
    background: linear-gradient(to bottom, #dbdada 5%, #ffffff 100%);
}

.click2:active {
    background: linear-gradient(to top, #dbdada 5%, #ffffff 100%);
    transform: translateY(1px);
}

.pt-80-sip {
    padding-top: 80px;
    margin: 0 12px 12px;
}

.row-1 {
    height: calc(60vh - 80px - 24px);
}
.box {
    padding: 0 0 0 12px;
}
.antrian-box {
    padding: 36px 12px 36px 36px;
}
.menuju-box {
    padding: 36px 36px 36px 12px;
}
.h-33 {
    height: 33%;
}
.h-67 {
    height: 67%;
}
.sisa-box {
    height: calc(50% - 6px);
}

.row-2 {
    height: calc(35vh - 80px);
}
.baak-box {
    padding: 0 6px 0 12px;
}
.bauk-box {
    padding: 0 0 0 6px;
}

.row-3 {
    height: calc(23vh - 80px);
}

.mb-12 {
    margin-bottom: 12px;
}
.top-42 {
    top: 42%;
}
.top-48 {
    top: 48%;
}
.top-18 {
    top: 18%;
}

#nomor_antrian,
h1#posisi {
    font-size: 8vw;
}

#sisaA,
#sisaB {
    font-size: 4vw;
}

#nomor_antrian1,
#nomor_antrian2 {
    font-size: 4vw;
}

@media screen and (max-width: 768px) {
    .box {
        padding: 0 12px 0;
        margin-bottom: 12px;
    }
    .antrian-box {
        padding: 24px 24px 12px 24px;
    }
    .menuju-box {
        padding: 12px 24px 24px 24px;
    }

    #sisaA,
    #sisaB,
    #nomor_antrian1,
    #nomor_antrian2 {
        font-size: 30pt;
    }

    .baak-box,
    .bauk-box {
        padding: 0 12px;
        margin-bottom: 12px;
    }

    .row-2 {
        height: calc(60vh - 80px);
    }
    #row-2 {
        height: calc(35vh - 80px);
    }

    .d-run-text {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .bauk-box {
        margin-bottom: 0;
    }

    .d-clock {
        display: none;
    }

    .show-hide {
        display: none;
    }
}

.clock {
    height: 1.5em;
    color: black;
    font-size: 3.5em;
    font-family: sans-serif;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.clock::before,
.clock::after {
    content: "";
    width: 7ch;
    height: 3vh;
    position: absolute;
    z-index: 2;
}
.clock > div {
    display: flex;
}
.tick {
    line-height: 1.4em;
}
.tick-hidden {
    opacity: 0;
}
@keyframes move {
    from {
        transform: translateY(-5vh);
    }
    to {
        transform: translateY(-15vh);
    }
}

marquee {
    font-size: 1.8em;
    color: #ffffff;
}

.btn:disabled {
    opacity: 1;
}
